/* CSS Document */
:root {
    --blauw: #5865f2;
    --grijs: #2c2f33;
    --lichtGrijs: #99aab5;
    --nietEchtZwart: #23272a;
  }
  
*, *::after, *::before {
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #404eed;
}
/* Nav Groot scherm */
nav{
  position: relative;
  top: 2em;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  margin-left: 2em;
  margin-right: 2em;
}

nav ul li{
  font-size: 1.2em;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

li:hover{
  text-decoration: underline;
  transition: 0.5s;
}

nav ul img{
width: 124px;
}

/* Header groot scherm */
header section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

header article {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10em;
}

Header h1{ 
  font-weight: 1000;
  font-size: clamp(1.5em,8vw,4em);
  text-transform: uppercase;
  line-height: 95%;
  max-width: clamp(300px,60vw,800px);
}

Header p {
  max-width: clamp(300px,60vw,800px);
}

header a {
  max-width: clamp(300px,60vw,800px);
}

@media screen and (max-width: 700px) {
nav{
    position: relative;
    top: 2em;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    margin-left: 2em;
    margin-right: 2em;
}

nav ul li{
      font-size: 1.2em;
      color: #fff;
}

nav ul img{
  width: 124px;
}

header article {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 10em;
      left: 2em;
      right: 2em;
      width: 20em;
      margin-bottom: 150px;
}

article h1{
    font-size: 1.5em;
    color: #fff;
    font-weight: 1000;
    line-height: 1em;
    text-transform: uppercase;
    text-align: left;
}

header section article p{
    position: relative;
    top: 2em;
    font-size: 0.95em;
    color: #fff;
    text-align: left;
    line-height: 1.7em;
    margin-bottom: 2em;
}

header article a:nth-of-type(1){
    position: relative;
    top: 2em;
    display: flex;
    justify-content: space-evenly;
    padding: 16px 32px;
    color: var(--nietEchtZwart);
    background-color: #fff;
    border-radius: 28px;
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 1em;
}
article a:nth-of-type(2){
    position: relative;
    top: 2em;
    display: flex;
    justify-content: space-evenly;
    padding: 16px 32px;
    background-color: var(--nietEchtZwart);
    color: #fff;
    border-radius: 28px;
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 1em;
}

header section img:nth-of-type(1){
    position: relative;
    max-width: 880px;
    width: 100%;
    margin-left: -80px;
}
}
/* MAIN onderdeel Groot breed scherm*/

h2{
  font-size: clamp(1.5em,2vw,3em);
} 

p{
  font-size: clamp(1em,2vw,20px);
  line-height: 1.5;
}

main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

main section img {
  width: clamp(10em, 50vw, 100em);
  max-width: 900px;
}

main section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 150px; 
}

Main Article {
  display: flex;
  flex-direction: column;
  max-width: 35em;
  gap: 2em;
}

article a {
  position: relative;
  top: 2em;
  display: flex;
  justify-content: space-evenly;
  padding: 16px 32px;
  background-color: var(--blauw);
  color: #fff;
  border-radius: 28px;
  font-size: 1.2em;
  text-decoration: none;
  margin-bottom: 1em;
}

main section:nth-child(5){
  display: flex;
  flex-direction: column;
  gap: 2em;
}

main section:nth-child(5) a{
  position: relative;
  top: 2em;
  display: flex;
  justify-content: space-evenly;
  padding: 16px 32px;
  background-color: var(--blauw);
  color: #fff;
  border-radius: 28px;
  font-size: 1.2em;
  text-decoration: none;
  margin-bottom: 1em;
}

/* MAIN onderdeel voor max 375px breed*/
@media screen and (max-width: 700px) {

h2{
  font-size: clamp(1.5em,2vw,3em);
} 
  
p{
  font-size: clamp(1em,2vw,20px);
   line-height: 1.5;
}

main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

main section img {
  width: clamp(300px, 90vw, 500px);
  max-width: 500px;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 150px; 
}

Main Article {
  display: flex;
  flex-direction: column;
  max-width: 35em;
  gap: 2em;
}

}


/* Footer onderdeel */

footer:first-of-type {
  background-color: var(--nietEchtZwart);
  color: #fff;
  display: flex;
  flex-direction: column;
}

footer article:only-child {
  top: 5em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

footer  h2 {
  text-align: center;
  color: var(--blauw);
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 1.5em;
}

footer section{
  padding-top: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer section article {
  width: 10em;
  padding-top: 2em;
}


footer section article h3 {
  color: var(--blauw);
  padding-top: 0.8em;

}

footer section article li {
  padding-top: 0.7em;
  font-size: 1em;
  list-style: none;
}

footer article:nth-child(6){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer img {
  max-width: 125px;
}